@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>Session</title>
</head>
<body>
    <p>Perform Request on: "/getquerystring?name=value1&age=value2"</p>
</body>
</html>