@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WebApp1ByKrisha.Models.Student;

<h1>Student Detail</h1>

<div>
    <h4>Student ID: @Model.StdID</h4>
    <h4>Name: @Model.Name</h4>
    <h4>Address: @Model.Address</h4>
    <h4>Faculty: @Model.Faculty</h4>
</div>
