@page
@model WebApplication4.Pages.Users.IndexModel
@{
}
<h1>Welcome to the Website</h1>

<ul>
    <li class="nav-item"><a class="nav-link text-dark" asp-page="/Users/Admin">Admin</a></li>

    <li class="nav-item"><a class="nav-link text-dark" asp-page="/Users/Member">Member</a></li>
</ul>