@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>Session Page</title>
</head>
<body>
    Username: @ViewBag.username
    <br />
    Password: @ViewBag.password
</body>
</html>