.navbar {
  background-color: #333;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-item:last-child {
  margin-right: 0;
}

.navbar-link {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #007bff;
}
